---

---

<script>
  import { selfId } from "trystero/torrent";
  import { state, Role } from "@utilities/state";
  import { WebRTC } from "@utilities/web-rtc";
  import { abilityMixin } from "@utilities/web-rtc/ability";
  import { messageMixin } from "@utilities/web-rtc/message";
  import { nameMixin } from "@utilities/web-rtc/name";
  import { serverMixin } from "@utilities/web-rtc/server";
  import { sheetMixin } from "@utilities/web-rtc/sheet";
  import { updateMixin } from "@utilities/web-rtc/update";

  state.role = Role.Host;
  state.hostId = selfId;

  const roomId = "TEST";
  const WebRTCServer = abilityMixin(
  messageMixin(nameMixin(serverMixin(sheetMixin(updateMixin(WebRTC)))))
  );
  const rtc = new WebRTCServer(roomId);
  // TODO: Make this wait for a button press.
  await new Promise((resolve) => setTimeout(resolve, 5000));
</script>

<p>Server</p>
