---
import type { AstroInstance } from 'astro'
import Layout from '@layouts/client.astro'
import ViewDebugPanel from '@components/viewDebugPanel.astro'
import Header from '@components/ClientHeader.astro'
import PaperTexture from '@components/PaperTexture.astro'

// Extend AstroInstance to add sortOrder
interface AstroInstanceWithSortOrder extends AstroInstance {
	sortOrder: number
}

const views = (await Astro.glob(
	'@components/views-client/*.astro'
)) as AstroInstanceWithSortOrder[]

// Sort views by sortOrder
views.sort((a, b) => a.sortOrder - b.sortOrder)
---

<Layout id='client-page'>
	<PaperTexture />
	<Header />
	{
		views.map((view) => (
			<section class='view' data-view-key={view.sortOrder}>
				<view.default />
			</section>
		))
	}
	<ViewDebugPanel views={views} slot='footer' />
	<script>
		import '@utilities/view-logic'
	</script>
</Layout>
