---
const { type, text, id, disabled } = Astro.props
---

<style>
	.button {
		--text-color: var(--color-background);
		--background-color: var(--color-secondary);
		--outline-color: var(--color-text);

		position: relative;
		display: block;
		border: none;
		outline: none;
		background: none;
		color: var(--text-color);
		font-family: var(--font-heading);
		padding: 0.5em 1em;
		cursor: pointer;
		transition: transform 0.2s ease;
		margin: 1rem auto;
		width: 100%;

		&:hover,
		&:focus {
			--outline-color: var(--color-primary);
			transform: rotate(-1deg) scale(1.05);
		}

		&[disabled] {
			--background-color: var(--color-background);
			--outline-color: var(--color-text);
			--text-color: var(--color-text);

			pointer-events: none;
		}
	}

	svg {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		fill: var(--background-color);
		stroke: var(--outline-color);
		z-index: -1;
	}
</style>

<button id={id} class='button' type={type} disabled={disabled}>
	{text}
	<slot />
	<svg
		viewBox='0 0 314 50'
		fill='none'
		xmlns='http://www.w3.org/2000/svg'
		preserveAspectRatio='none'
	>
		<path
			d='M313 4.26656C188.299 -4.67955 123.713 7.99434 1 4.26656V44.5266C124.707 49 189.293 40.054 313 49V4.26656Z'
		></path>
	</svg>
</button>
