---
const { type, text, id, disabled } = Astro.props
---

<style>
	.button {
		--text-color: var(--color-background);
		--background-color: var(--color-secondary);
		--outline-color: var(--color-text);

		position: relative;
		display: block;
		border: none;
		background: none;
		color: var(--text-color);
		font-family: var(--font-heading);
		padding: 0.5em 1em;
		cursor: pointer;
		transition: transform 0.2s ease;
		margin: 1rem auto;
		width: 100%;
		background-color: var(--background-color);
		color: var(--text-color);
		border: 1px solid var(--outline-color);
		border-radius: 0.25rem;
		box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

		&:hover,
		&:focus {
			--outline-color: var(--color-primary);
			/* transform: rotate(-1deg); */
			box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
		}

		&[disabled] {
			--background-color: var(--color-background);
			--outline-color: var(--color-text);
			--text-color: var(--color-text);

			pointer-events: none;
		}
	}
</style>

<button id={id} class='button' type={type} disabled={disabled}>
	{text}
	<slot />
</button>
