---
import { Icon } from 'astro-icon/components'
---

<style>
	ul {
		list-style-type: none;
		padding-inline-start: 0;
	}

	svg {
		width: 4ch;
		opacity: 0.75;
	}
</style>

<div class='playerFeatures'>
	<h2>Current Features</h2>

	<ul>
		<li><Icon name='fa6-solid:clipboard-question' /> No features yet!</li>
		<li><Icon name='fa6-solid:thumbs-up' /> A good feature.</li>
		<li><Icon name='fa6-solid:thumbs-down' /> A bad feature.</li>
	</ul>
</div>

<script>
	// TODO: Replace features with actual value during runtime
	console.log('TODO: Replace features with actual value during runtime')
</script>
