---

---

<style>
	.playerName {
		--text-color: var(--color-text);
		--background-color: var(--color-background);
		--outline-color: var(--color-text);

		position: relative;
		display: block;
		border: none;
		outline: none;
		background: none;
		color: var(--text-color);
		font-family: var(--font-body);
		font-weight: 900;
		margin-block: 1em;
		padding-block-start: 5%;
		padding-block-end: 20%;
		padding-inline-start: 2em;
		padding-inline-end: 1em;
		margin-inline: auto;
		cursor: pointer;
		width: 100%;
	}

	svg {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		stroke: var(--outline-color);
		z-index: -1;
	}

	.playerNameText {
		display: block;
		width: 100%;
	}
</style>

<div class='playerName'>
	<!-- <span class='playerNameText'>[Name here]</span> -->
	<span class='playerNameText'>WWWWWWWWWW</span>
	<svg
		viewBox='0 0 313 65'
		fill='none'
		xmlns='http://www.w3.org/2000/svg'
		preserveAspectRatio='none'
	>
		<path
			d='M173.974 46.693L174.039 46.1971L174.026 46.1954L174.013 46.1944L173.974 46.693ZM173.974 46.693C174.039 46.1971 174.039 46.1971 174.039 46.1972L174.042 46.1975L174.052 46.1988L174.092 46.2039L174.254 46.2243C174.397 46.2423 174.611 46.2688 174.893 46.3031C175.456 46.3715 176.292 46.4707 177.378 46.5936C179.551 46.8393 182.727 47.1797 186.739 47.5579C194.764 48.3144 206.13 49.2223 219.497 49.8275C246.116 51.0329 280.646 51.037 312.499 46.2626V4.13926C312.229 4.19261 311.868 4.26112 311.41 4.34185C310.261 4.54464 308.506 4.82458 306.075 5.13528C301.213 5.75667 293.644 6.50112 282.803 6.99727C261.121 7.98955 226.344 7.98877 173.937 4.0228C121.564 0.0594262 83.4025 0.0598729 58.3398 1.05027C45.8085 1.54547 36.5517 2.28816 30.4305 2.90661C27.3699 3.21583 25.0931 3.494 23.5828 3.69464C22.8277 3.79496 22.2642 3.8759 21.8901 3.93165C21.841 3.93897 21.7951 3.94587 21.7524 3.95231V46.1249C50.1551 42.5209 88.0707 42.5283 118.944 43.4401C134.488 43.8991 148.254 44.5876 158.134 45.1614C163.074 45.4483 167.043 45.7065 169.778 45.893C171.145 45.9862 172.203 46.0616 172.92 46.1136C173.278 46.1396 173.551 46.1598 173.735 46.1735L173.942 46.1891L173.995 46.1931L174.008 46.1941L174.011 46.1943C174.012 46.1944 174.013 46.1944 173.974 46.693Z'
		></path>
		<path
			d='M59.4652 43.5V57C59.4652 57 20.6813 47 21.8391 46.5C22.9968 46 31.0554 45.0021 42.0993 44.5C53.0977 44 58.3074 43.5 59.4652 43.5Z'
			fill='currentColor'
			fill-opacity='0.5'></path>
		<path
			d='M21.8391 17C6.78863 18.5 1 21.0252 1 21.0252V64.1939L59.4652 57M59.4652 57V43.5C58.3074 43.5 53.0977 44 42.0993 44.5C31.0554 45.0021 22.9968 46 21.8391 46.5C20.6813 47 59.4652 57 59.4652 57Z'
		></path>
	</svg>
</div>

<script>
	// TODO: Replace player name with actual value during runtime
	console.log('TODO: Replace player name with actual value during runtime')
</script>
