@font-face {
  font-family: "Alegreya Fallback: Arial";
  src: local('Arial'), local('ArialMT');
  font-display: swap;
  ascent-override: 79.6017%;
  descent-override: 27.0301%;
  line-gap-override: 0%;
  size-adjust: 127.6355%;
}
@font-face {
  font-family: "Alegreya Fallback: Roboto";
  src: local('Roboto Regular'), local('Roboto-Regular');
  font-display: swap;
  ascent-override: 79.4273%;
  descent-override: 26.9709%;
  size-adjust: 127.9157%;
}@font-face {
  font-family: "Permanent Marker Fallback: Arial";
  src: local('Arial'), local('ArialMT');
  font-display: swap;
  ascent-override: 97.578%;
  descent-override: 27.9162%;
  line-gap-override: 2.6628%;
  size-adjust: 113.6911%;
}
@font-face {
  font-family: "Permanent Marker Fallback: Roboto";
  src: local('Roboto Regular'), local('Roboto-Regular');
  font-display: swap;
  ascent-override: 97.3642%;
  descent-override: 27.8551%;
  line-gap-override: 2.6569%;
  size-adjust: 113.9407%;
}