---
export const sortOrder = 3

import Button from '@components/Button.astro'
import Input from '@components/Input.astro'
import PlayerFeatures from '@components/PlayerFeatures.astro'
const buttonText = 'Waiting on the game...'
---

<style>
	.waitingMessage {
		display: flex;
		justify-content: space-between;
		column-gap: 1em;
		flex-wrap: wrap;
		border-bottom: 1px solid var(--color-text);
	}

	.message {
		text-align: center;
		margin-block: 1em;
	}
</style>

<h2>Waiting for game</h2>

<Input
	disabled
	id='waiting-for-game-player-name'
	multiline
	name='playerName'
	preventLineBreaks
	shapes={['flag-left', 'flag-right']}
	value='{A name, that is <=50 characters long, goes here.}'
/>

<PlayerFeatures />

<Button text={buttonText} disabled />
