---
import DefaultLayout from '@layouts/default.astro'

const { title } = Astro.props
---

<style is:global>
	body {
		background-color: blue;
	}
</style>

<DefaultLayout title={title}>
	<h1>Client Layout</h1>
	<slot />
</DefaultLayout>
