---

---

<script>
  import { tts, initTts } from "@utilities/tts";

  async function testTTS(type: string, voice?: string) {
    await initTts({ type: type, voice: voice });
    if (!tts) {
      return;
    }
    const models = await tts.listModels();
    console.log("Available models:", models);

    if (voice) {
      await tts.downloadModel(voice);
    } else if (models.length > 0) {
      await tts.selectModel(models[0]);
      await tts.downloadModel(models[0]);
    }
    await tts.speak(
      "Just so you know, I find TTS voices SUPER awesome. You should try them out!"
    );
    await tts.clearModels();
  }

  await testTTS("kokoro", "Lewis");
  await testTTS("kokoroWasm", "Lewis");
  await testTTS("vitsweb", "en_GB-northern_english_male-medium");
  await testTTS("system", "Google UK English Male");
</script>

<p>Check the console</p>
