---

---

<script>
  import { WebRTC } from "@utilities/web-rtc";
  import { DrinkMixin } from "@utilities/web-rtc/drink";

  const roomId = "TEST";
  const WebRTCDrink = DrinkMixin(WebRTC);
  const testRtc = new WebRTCDrink(roomId);

  // Simulate sending a drink to everyone in the room
  setInterval(() => {
    testRtc.sendDrink({ drink: "mezcal", withIce: false });
  }, 1000);
</script>

<p>Check the console</p>
