---

---

<script>
  import { WebRTC } from "@utilities/web-rtc";
  import { drinkMixin } from "@utilities/web-rtc/drink";

  const roomId = "TEST";
  const WebRTCDrink = drinkMixin(WebRTC);
  const testRtc = new WebRTCDrink(roomId);

  // Send a drink to everyone in the room.
  setInterval(() => {
    testRtc.sendDrink({ drink: "mezcal", withIce: false });
  }, 1000);
</script>

<p>Check the console</p>
